@import "variables";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5;
}

body {
  box-sizing: border-box;
  font-family: "Inter" !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $text-color-default;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.font-family-poppins {
  font-family: "Poppins" !important;
}

.w-text-color-default {
  color: $text-color-default;
}

.w-color-green {
  color: $color-green;
}

.w-color-blue-dark {
  color: $color-blue-dark;
}

.w-color-blue {
  color: $color-blue;
}

.w-color-pink {
  color: $color-pink;
}

.w-bg-color-green {
  background-color: $color-green;
}

.w-radius-small {
  border-radius: $radius-small;
}

.fz-25 {
  font-size: $fz-25;
}

.w-title-h1 {
  font-size: $fz-60;
  font-weight: 700;

  @media (max-width: 576px) {
    font-size: $fz-40;
  }

  @media (min-width: 576px) and (max-width: 768px) {
    font-size: $fz-30;
  }
}

.w-title-h2 {
  font-size: $fz-30;
  font-weight: 700;

  @media (max-width: 576px) {
    font-size: $fz-20;
  }

  @media (min-width: 576px) and (max-width: 768px) {
    font-size: $fz-18;
  }
}
