@import "variables";

.w-radius-box {
  border-radius: 0.625rem;
  background: #fbfcff;
  box-shadow: 0px 0px 40px 11px rgba(0, 0, 0, 0.07);
}

#idHeaderNavbar {
  margin-left: 8rem;

  // .nav-item {
  //   @media (min-width: 576px) {
  //     margin-left: auto;
  //   }
  // }
}

#idLaunchApp {
  width: 12.25rem;
  height: 2.6875rem;
}

.bg-header {
  background: rgba(255, 255, 255, 0.58);
  box-shadow: 0px 8px 32px 0px rgba(219, 219, 235, 0.17);
}

.counterdown {
  color: $color-blue-dark;
  text-align: center;
  font-size: $fz-30;
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;

  @media (max-width: 576px) {
    font-size: $fz-15;
    font-weight: 400;
  }

  & + span {
    font-size: $fz-15;
    @media (max-width: 576px) {
      font-size: $fz-13;
    }
  }
}

#idHomeCounterdown {
  @media (max-width: 768px) {
    margin: auto;
  }

  animation: moveInRight 2s ease-out;
}

#idHomeSlogan {
  animation: moveInBottom 2s ease-out 0.75;
  animation-fill-mode: backwards;
}

#idHomeTitle {
  max-width: 30rem;
  animation: moveInLeft 2s ease-out;
}

/* Start Bootstrap override*/
.btn.btn-primary,
.btn.btn-primary.active {
  background-color: $color-green !important;
  color: $text-color-default !important;
}

.btn.btn-outline-info,
.btn.btn-outline-info.active {
  color: $color-blue !important;
  border-color: $color-blue !important;
  background-color: transparent !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
/* End Bootstrap override*/

#idLastestUpdateLink {
  border-radius: $radius-small;
  border: 1px solid #1d9bf0;
}

.about-us {
  .text-about-us {
    color: $text-color-default;
    text-align: justify;
    font-size: $fz-30;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: $fz-30;

    @media (max-width: 576px) {
      font-size: $fz-15;
    }
  }

  .latest-new-link {
    color: $text-color-default;
    font-size: $fz-18;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    text-decoration-line: underline;

    span {
      @media (max-width: 576px) {
        width: 10rem;
        display: flex;
      }
    }
  }

  .about-us-member {
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }

    .photo {
      width: 10rem;
      height: 10rem;
      flex-shrink: 0;
      border-radius: $radius-medium;
      box-shadow: 0px 0px 40px 11px rgba(0, 0, 0, 0.07);

      @media (max-width: 768px) {
        width: 8rem;
        height: 8rem;
      }

      @media (max-width: 320px) {
        width: 7rem;
        height: 7rem;
      }
    }

    .text-center {
      @media (max-width: 320px) {
        font-size: $fz-14;
      }
    }
  }
}

.features {
  .bg-features {
    background-image: url("assets/images/features_backr_pattern.svg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 576px) {
      background-image: url("assets/images/features_backr_pattern_mobile.svg");
    }
    @media (max-width: 375px) {
      background-size: cover;
      background-image: url("assets/images/features_backr_pattern_mobile.svg");
    }
  }

  .w-text-shadow {
    text-shadow: 0px 2px 2px rgba(30, 30, 30, 0.2);
  }

  .block-space {
    display: flex;
    justify-content: center;
    padding-top: 8rem;

    @media (max-width: 576px) {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 3rem;
      &:last-child {
        padding-bottom: 3rem !important;
      }
    }

    @media (max-width: 320px) {
      &:last-child {
        padding-bottom: 6rem !important;
      }
    }

    @media (min-width: 576px) and (max-width: 768px) {
      padding-top: 6rem;
      &:last-child {
        padding-bottom: 6rem !important;
      }
    }

    @media (min-width: 1400px) {
      &:first-child {
        padding-top: 10rem !important;
      }
    }

    &:last-child {
      padding-bottom: 6rem;
    }

    div {
      max-width: 30rem;
    }
  }

  .description {
    @media (min-width: 768px) {
      font-size: $fz-20;
    }
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.home-how-it-work-separator {
  margin-top: -8rem;
  z-index: -10;
  @media (max-width: 576px) {
    margin-top: -4rem;
    z-index: -10;
  }
}

.arrow-separator {
  @media (max-width: 576px) {
    width: 6rem;
  }
}

.copyright {
  padding-right: 6rem;

  @media (max-width: 375px) {
    padding-right: 2rem;
  }
  @media (max-width: 320px) {
    padding-right: 1rem !important;
  }
}
