// colors
$text-color-default: #273349;
$color-blue-dark: #2007cd;
$color-green: #5afbc4;
$color-blue: #1d9bf0;
$color-pink: #ff00f2;

// size
$radius-small: 0.3125rem;
$radius-medium: 0.9375rem;
$fz-10: 0.625rem;
$fz-15: 0.938rem;
$fz-13: 0.8125rem;
$fz-18: 1.125rem;
$fz-20: 1.25rem;
$fz-25: 1.5625rem;
$fz-30: 1.875rem;
$fz-60: 3.75rem;
$fz-40: 2.5rem;
